/* 1rem = 18px */

.page {
  display: flex;
  margin: auto;
}

.title {
  font: 700 1.5rem "Archivo", sans-serif;
  margin-bottom: 1rem;
  padding-top: 8rem;
  line-height: 2rem;
}

.input-mail {
  background: #2c2c2c;
  border: 1px solid #161616;
  box-sizing: border-box;
  border-radius: 8px 8px 0px 0px;

  height: 3.3rem;
  width: 90%;
  --margin-top: 20rem;
  --background: none;
  align-items: center;
}

.input-username {
  background: #2c2c2c;
  border: 1px solid #161616;
  box-sizing: border-box;
  border-radius: 0px 0px 8px 8px;

  height: 3.3rem;
  width: 90%;
  background: #2c2c2c;
  border: 1px solid #161616;
  box-sizing: border-box;
  border-radius: 0px 0px 8px 8px;
  --background: none;
  align-items: center;
}

.button {

  font: 700 1.22rem "Archivo", sans-serif;
  border-radius: 8px;
  height: 3rem;
  width: 90%;

  /* remove CAPS LOCK */
  text-transform: none;
}

