
/* 1rem = 18px */

.page {
  display: flex;
  text-align: center;
  margin: auto;
}

.img {
  width: 148px;
  height: 164px;

  /* Center Image*/
  display: block;
  margin: 5.7rem auto 1.5rem auto;
}

.title {
  font: 700 2.90rem "Archivo", sans-serif;
  margin-bottom: 1rem;
}


.button {
  font: 700 1.22rem "Archivo", sans-serif;
  border-radius: 8px;

  /* remove CAPS LOCK */
  text-transform: none;
}

#signup-button,
#login-button {
  width: 43%;
  height: 5.5rem;

  margin: 1.6rem 0.35rem;
  font: 900 1.37rem "Archivo", sans-serif;
}

#guest-button {

  height: 3.3rem;
  width: 90%;
  align-items: center;
  border-style: solid;
  color:  #8F8F8F;
  border-color: #444444;
  border-width: 0.125rem;
  --margin-top: 7rem;
  --background: none;
  

}


.footer {
  display: block;
  position: absolute;

  background: #141414;
  width: 100%;
  height: 3rem;
  padding: 0.66rem ;

  bottom: -0.1%;
  font: 500 1.2rem "Archivo", sans-serif;
  color: var(--ion-color-tertiary);
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.5);
}
