/* 1rem = 18px */

.page {
  display: flex;
  text-align: center;
  margin: auto;
}

.img {
  width: 148px;
  height: 164px;

  /* Centralizar imagem */
  display: block;
  margin: 4rem auto 2rem auto;
}

.button {
  font: 700 1.22rem "Archivo", sans-serif;
  border-radius: 8px;

  /* remover o CAPS LOCK GRITANDO AAAAAAAAAAAAAAA */
  text-transform: none;
}

#signup-button,
#login-button {
  width: 46.8%;
  height: 5rem;

  margin: 1.6rem 0.28rem;
}

#guest-button {
  height: 2.77rem;
}

.title {
  font: 700 2.77rem "Archivo", sans-serif;
  margin-bottom: 1rem;
}

.footer {
  display: block;
  position: absolute;
  justify-content: center;
  align-items: center;

  background: #242424;
  width: 100%;
  height: 3rem;
  padding: 0.66rem 4.88rem;

  bottom: -0.1%;
  font: 500 1.2rem "Archivo", sans-serif;
  color: var(--ion-color-tertiary);
}
